/* Reset default styles and set box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #6910f838;
  color: #333;
  line-height: 1.6;
  
}

/* Container for the cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Styles for individual cards */
.card {
  background-color: #0717f746;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Button styling */
button {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0057b363;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(218, 15, 15, 0.5); /* Black w/ opacity */
}

/* Footer Styles */
footer {
  padding: 20px;
  text-align: center;
  background-color: hwb(241 4% 9% / 0.205);
  margin-top: 40px;
}

footer p {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Icon container styles for cards */
.icon-container {
  text-align: center;
  margin-bottom: 10px;
}

.icon-container i {
  font-size: 3rem;
  color: #007BFF;
}

.social-icons a {
  margin: 0 10px;
  color: hwb(219 4% 3%);;
  display: inline-block;
  transition: color 0.3s;
  font-size: 1.5rem;
}
